
.Invite-Body {
  border: 1px dotted var(--control-color);
  padding: 10px;
  margin: 5px;
  height: 120px;
  overflow-y: hidden;
}

.article.extended {
  height: 380px;
}

.my.confirm.extended {
  height: 200px;
}

.my.extended {
  height: 280px;
}

/* 小屏幕（平板，大于等于 768px） */
@media (max-width: 1100px) {
  .article.extended {
    height: 400px;
  }
  .my.extended {
    height: 300px;
  }
}

/* 超小屏幕（手机，小于 768px） */
@media (max-width: 755px) {
  .article.extended {
    height: 420px;
  }
  .my.extended {
    height: 350px;
  }
}

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (max-width:600px) {
  .article.extended {
    height: 450px;
  }
  .my.extended {
    height: 380px;
  }
}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (max-width: 500px) {
  .article.extended {
    height: 500px;
  }
  .my.extended {
    height: 420px;
  }
}

.Invite-Button {
  width: 80px;
  margin: 10px;
  display: inline-block;
}

.spacing {
  margin-bottom: 10px;
  font-weight: bold;
}

.center {
  text-align: center;
}

.rightAligned {
  float: right;
  margin-right: 10px;
}

.leftAligned {
  float: left;
}

.horizontal-spacing {
  margin-left: 20px;
  margin-right: 20px;
}

.Invite-Icon {
  --size: 24px;
  vertical-align: middle;
  margin-right: 5px;
  border-radius: 200px;
  width: var(--size);
  height: var(--size);
  box-sizing: inherit;
}

.Invite-Input {
  margin: 10px;
  display: inline-block;
}

.Invite-Input-Width {
  width: 150px;
}

.fixed {
  white-space: break-spaces;
  overflow-y: auto;
  max-height: 40px;
}

.green {
  color: green;
}

.red {
  color: red;
}

.default {

}
